  - job_name: '{{ prometheus_job_name }}'
    scrape_interval: {{ prometheus_scrape_interval }}
    static_configs:
      - targets: ['{{ ansible_default_ipv4.address }}']
        labels:
          instance: {{ ansible_hostname }}
